{% extends "base.html" %}
{% block content %}

<h3>Cook Dish</h3>

{% if message %}
<div class="alert alert-warning text-center">{{message}}</div>
{% endif %}

<div class="card p-3 mb-3">
<form method="POST" class="row g-2">

<input name="dish" class="form-control" placeholder="Dish" required>
<input name="people" class="form-control" placeholder="Number of People" required>

<button name="check" class="btn btn-info">Check</button>
<button name="cook" class="btn btn-danger">Cook</button>

</form>
</div>

<table class="table table-bordered table-sm text-center">

<tr class="table-warning">
<th>Ingredient</th>
<th>Required</th>
<th>Available</th>
<th>Status</th>
</tr>

{% for r in result %}
<tr>
<td>{{r[0]}}</td>
<td>{{r[1]}}</td>
<td>{{r[2]}}</td>
<td>{{r[3]}}</td>
</tr>
{% endfor %}

</table>

{% endblock %}